.boxNotifi {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 100, 112);
    border-radius: 8px;
    height: 30px;
    padding: 10px;
    width: 150px;
}